{% extends 'base.html' %}

{% block title %}
  Панель продавця
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div style="max-width: 30%;">
    <form method="POST" action="">
      <h1 class="text-center">
        Введіть деталі продукту
      </h1>

      <div class="form-group" style="padding-top: 10px;">
        <input class="form-control" id="exampleInputEmail1" placeholder="Назва продукту" name="Name">
      </div>
      <div class="form-group">
        <input class="form-control" id="exampleInputPassword1" placeholder="Бренд" name="Brand">
      </div>
      <div class="form-group">
        <input class="form-control" id="exampleInputPassword1" placeholder="Кількість для додавання" name="Quantity">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Надіслати</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
