{% extends 'base.html' %}

{% block title %}
  Реєстрація продавця
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div style="max-width: 30%;">
    <form method="POST" action="">
      <h1 class="text-center">
        Введіть деталі продавця
      </h1>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Ім'я" name="First_Name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Прізвище" name="Last_Name">
        </div>
      </div>

      <div class="form-group" style="padding-top: 10px;">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Електронна пошта"
        name="Email">
        <small id="emailHelp" class="form-text text-muted">Ми ніколи не поділимося вашою електронною поштою з іншими.</small>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль" name="Password">
        <small id="passwordHelpBlock" class="form-text text-muted">
          Ваш пароль повинен містити 8-20 символів, включати літери та цифри, без пробілів, спеціальних символів чи емодзі.
        </small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Номер телефону" name="Phone_Number">
        <small id="emailHelp" class="form-text text-muted">Повинен бути 10-значний номер</small>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Місце роботи" name="Place_Of_Operation">
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Відправити</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block navBar %}
<a class="btn btn-outline-success my-2 my-sm-0 text-light bg-dark" href="/admin/{{admin_id}}">Повернутися</a>
{% endblock %}
