{% extends 'base.html' %}

{% block title %}
  UkraineBazzar
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row" style="margin-left: 20px;">
    {% for dict in list %}
    <div class="col-2.4">
      <div class="card" style="width: 15rem; margin: 5px;">
        <img class="card-img-top" src="https://picsum.photos/100" alt="Зображення товару"/>
        <div class="card-body">
          <h5 class="card-title text-primary">Назва: {{ dict.Name }}</h5>
          <h5 class="card-title text-success">Бренд: {{ dict.Brand }}</h5>
          <h5 class="card-title text-danger">Ціна: {{ dict.Price }}</h5>
          <form action="" method="GET">
            <input type="hidden" name="Name" value="{{ dict.Name }}">
            <input type="hidden" name="Brand" value="{{ dict.Brand }}">
            <input type="hidden" name="Price" value="{{ dict.Price }}">
            <button type="submit" class="btn btn-primary">Додати до кошика</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block navBar %}
<form class="form-inline my-2 my-lg-0" method="POST" action="">
  <button class="btn btn-outline-success my-2 my-sm-0 text-light bg-dark" type="submit">Мій кошик</button>
</form>
{% endblock %}
</div>
