{% extends 'base.html' %}

{% block title %}
  Деталі замовлення
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div>
    <form method="POST" action="">
      <h1 class="text-center">
        Загальна сума: <span style="color: red;">{{total_val}}</span>
      </h1>
      <h1 class="text-center">
        Введіть деталі вашого замовлення
      </h1>
      <div style="width: 50rem;">
        <div class="form-row" style="max-width: 100%;">
          <div class="col">
            <input type="text" class="form-control" placeholder="Номер будинку" name="HNO">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Місто" name="City">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Область" name="State">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Поштовий індекс" name="Pincode">
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-top: 5px;">
        <input type="text" class="form-control" placeholder="Спосіб оплати" name="Mode">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Оформити замовлення</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
