{% extends 'base.html' %}
{% block title %}
  Реєстрація продавця
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div style="max-width: 30%;">
    <form method="POST" action="">
      <h1 class="text-center">
        Продавець, введіть свої дані
      </h1>

      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Ім'я" name="First_Name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Прізвище" name="Last_Name">
        </div>
      </div>

      <div class="form-group" style="padding-top: 10px;">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введіть електронну пошту" name="Email">
        <small id="emailHelp" class="form-text text-muted">Ми ніколи не поділимось вашою електронною поштою з іншими.</small>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль" name="Password">
        <small id="passwordHelpBlock" class="form-text text-muted">
          Ваш пароль повинен містити від 8 до 20 символів, включати літери та цифри, і не повинен містити пробілів, спеціальних символів або емодзі.
        </small>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Номер телефону" name="Phone_Number">
        <small id="emailHelp" class="form-text text-muted">Повинен бути 10-значним числом.</small>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Назва міста" name="Place_Of_Operation">
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Відправити</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
