<!-- Наслідуємо шаблон -->
{% extends 'base.html' %}

{% block title %}
  Перегляд замовлень
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row" style="margin-left: 20px;">
      {% for dict in list %}
        <div class="col-3">
          <div class="card" style="width: 15rem; margin: 5px;">
            <img class="card-img-top" src="https://picsum.photos/100" alt="Card image cap"/>
            <div class="card-body">
              <h5 class="card-title text-primary">Метод оплати: {{dict.Mode}}</h5>
              <h5 class="card-title text-success">ID замовлення: {{dict.Order_ID}}</h5>
              <h5 class="card-title text-danger">Ціна: {{dict.Amount}}</h5>
              <h5 class="card-title text-danger">Дата: {{dict.Date}}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block navBar %}
  <div style="margin: 5px;">
    <form class="form-inline my-2 my-lg-0" method="POST">
      <button class="btn btn-danger my-2 my-sm-0 text-light" type="submit">Повернутися</button>
    </form>
  </div>
{% endblock %}
